h3{
    color: green;
    

}
h2{
    color: green;
}
code{
    color: cornflowerblue;

}
h1{
text-align: center;
color: white;

}
body {
    width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    border: 5px solid white;
  }
table{
    text-align: center;
}
h4{

    color: green;
}
p{
    color:white;
}